.fa-bars {
	color: #fff;
}

.navMenu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 60vw;
	justify-content: end;
	margin-right: 2rem;
}

@media screen and (max-width: 960px) {
	.fa-times {
		color: #fff;
		font-size: 2rem;
	}

	.navMenu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.navMenuActive {
		background: #242222;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
		display: flex;
		flex-flow: column;
		height: 100vh;
		width: 100%;
		position: relative;
		top: 16.7em;
	}
}
