.social-icon-link {
	color: #fff;
	font-size: 24px;
}



.social-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 240px;
}

.social-logo {
	color: #fff;
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.website-rights {
	color: #fff;
	margin-bottom: 16px;
}
